AILZ80ASM.exe
cpm_b30_05.d88
l3diskex.exe - ショートカット.lnk
m23.exe - ショートカット.lnk
m23.ini
MEMO.txt
VIDEO_MEMO.txt
m23.txt
bios.bin
bios.lst
CPM_patched.SYS
cpmloader08.lst
cpmloader08.bin
bios62k11.z80
build_and_update_cpm.ps1